.movie-card {
  border: 2px solid black;
  height: 400px;
  width: 250px;
  margin: 5px;
  transition: 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 50px;
  height: 100px;
}

